<footer style="color: #FFF;">
  <div class="footer-page">
    <div class="footer-page__info">
      <div class="footer-page__email">
        <div class="footer-page__email-head">
          E-mail
        </div>
        <div class="footer-page__email-info">
          <div class="footer-page__email-info-email">
            info@arenadata.io
          </div>
          <a href="" class="footer-page__email-info-contact btn-outline_"> Contact us</a>
          <div class="footer-page__email-info-policy">
            <a href="#">Privacy Policy</a>
          </div>
        </div>
      </div>
      <div class="footer-page__products">
        <div class="footer-page__products-head">
          Products
        </div>
        <div class="footer-page__products-text">
          <a href="#">
            Arenadata DB
          </a>
          <a href="#">Arenadata Hadoop</a>
          <a href="#">Arenadata Quickmarts</a>
          <a href="#">Arenadata Streaming</a>
          <a href="#">Arenadata Grid</a>
          <a href="#">Arenadata Cluster Manager</a>
        </div>
      </div>
      <div class="footer-page__services">
        <div class="footer-page__services-head">
          Services
        </div>
        <div class="footer-page__services-text">
          <a href="#">
            DBA as a service
          </a>
          <a href="#">Smart Start</a>
          <a href="#">Digital landscape audit</a>
          <a href="#">Architectural Control</a>
        </div>
      </div>
      <div class="footer-page__about">
        <div class="footer-page__about-head">
          About
        </div>
        <div class="footer-page__about-text">
          <a href="#">
            About
          </a>
          <a href="#">Partners</a>
          <a href="#">News</a>
          <a href="#">Contacts</a>
        </div>
      </div>
    </div>
    <div class="footer-page__links">
      <span class="footer-page__links-text">© Arenadata Software LLC, 2021</span>
      <div class="footer-page__icons">
        <img src="../assets/images/twitter.svg" alt="" srcset="">
        <img src="../assets/images/facebook.svg" alt="" srcset="">
        <img src="../assets/images/inlinked.svg" alt="" srcset="">
        <img src="../assets/images/instagramm.svg" alt="" srcset="">
        <img src="../assets/images/h.svg" alt="" srcset="">
        <img src="../assets/images/youtube.svg" alt="" srcset="">
      </div>
    </div>
  </div>
</footer>