<footer>
  <div class="footer-page">
    <div class="footer-page__info">
      <div class="footer-page__email">
        <div>
          <div class="footer-page__email-head">
            E-mail
          </div>
          <div class="footer-page__email-info">
            <div class="footer-page__email-info-email">
              info@arenadata.io
            </div>
            <!-- <a href="" class="footer-page__email-info-contact btn-outline_"> Contact us</a> -->
          </div>
        </div>
        <div class="footer-page__email-info-policy">
          <a href="#">Privacy Policy</a>
        </div>
      </div>
      <div class="footer-page-l">
        <div class="footer-page-link">
          <div class="footer-page-link-head">
            <div class="footer-page-link-head__title">
              Products
            </div>
            <a class="chevron-footer-right" role="button" data-toggle="collapse" data-target="#block-products"
              aria-expanded="false" aria-controls="block-products">
            </a>
          </div>
          <div class="collapse footer-page-link-head__body" id="block-products">
            <a href="#">
              Arenadata DB
            </a>
            <a href="#">Arenadata Hadoop</a>
            <a href="#">Arenadata Quickmarts</a>
            <a href="#">Arenadata Streaming</a>
            <a href="#">Arenadata Grid</a>
            <a href="#">Arenadata Cluster Manager</a>
          </div>
        </div>
        <div class="footer-page-link">
          <div class="footer-page-link-head">
            <div class="footer-page-link-head__title">
              Services
            </div>
            <a class="chevron-footer-right" role="button" data-toggle="collapse" data-target="#block-services"
              aria-expanded="false" aria-controls="block-services">
            </a>
          </div>
          <div class="collapse footer-page-link-head__body" id="block-services">
            <a href="#">
              DBA as a service
            </a>
            <a href="#">Smart Start</a>
            <a href="#">Digital landscape audit</a>
            <a href="#">Architectural Control</a>
          </div>
        </div>
        <div class="footer-page-link">
          <div class="footer-page-link-head">
            <div class="footer-page-link-head__title">
              About
            </div>
            <a class="chevron-footer-right" role="button" data-toggle="collapse" data-target="#block-about"
              aria-expanded="false" aria-controls="block-about">
            </a>
          </div>
          <div class="collapse footer-page-link-head__body" id="block-about">
            <a href="#">
              About
            </a>
            <a href="#">Partners</a>
            <a href="#">News</a>
            <a href="#">Contacts</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-page__link">
      <div class="footer-page__links">
        <span class="footer-page__links-text">© Arenadata Software LLC, 2021</span>
        <div class="footer-page__icons">
          <a href="#">
            <div class="icon-footer-twitter"></div>
          </a>
          <a href="#">
            <div class="icon-footer-facebook"></div>
          </a>
          <a href="#">
            <div class="icon-footer-inlinked"></div>
          </a>
          <a href="#">
            <div class="icon-footer-instagramm"></div>
          </a>
          <a href="#">
            <div class="icon-footer-h"></div>
          </a>
          <a href="#">
            <div class="icon-footer-youtube"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>