<header class="header-first">
  <nav class="nav">
    <div class="nav__icon">
      <a href="/">
        <img src="assets/images/ADDocs.svg" alt="" srcset="">
      </a>
    </div>
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="/">
          <span class="nav__link-text">
            Home
          </span>
        </a>
      </li>
      <li class="nav__item dropdown">
        <a href="" class="nav__link dropbtn">
          <span class="nav__link-text drp">
            Products
          </span>
        </a>
        <ul class="dropdown-content">
          <li>
            <a class="subnav__link" href="../hadoop.html"><span class="subnav__link-text">Arenadata Hadoop</span></a>
          </li>
          <li>
            <a class="subnav__link" href="#"><span class="subnav__link-text">Arenadata Database</span></a>
          </li>
          <li>
            <a class="subnav__link" href="#"><span class="subnav__link-text">Arenadata Grid</span></a>
          </li>
          <li>
            <a class="subnav__link" href="#"><span class="subnav__link-text">Arenadata Stream</span></a>
          </li>
          <li>
            <a class="subnav__link" href="#"><span class="subnav__link-text">Arenadata QuickMarts</span></a>
          </li>
        </ul>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">
          <span class="nav__link-text">
            Reference
          </span></a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#"><span class="nav__link-text">
            Knowledge Base
          </span></a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#"><span class="nav__link-text">
            Free trial
          </span></a>
      </li>
      <li class="nav__item">
        <a class="nav__link btn_" href="#">
          <div class="nav__link-button">
            Download
          </div>
          <img src="assets/images/donwload.svg" alt="" srcset="">
        </a>
      </li>
    </ul>
    <div class="nav__mode">
      <div>
        <img class="icon-sun" src="../assets//images/icon_sun.svg" alt="" srcset="">
        <img class="icon-dark" src="../assets//images/icon_dark.svg" alt="" srcset="">
      </div>
    </div>
  </nav>
</header>