.btn_ {
    // padding: 9px 24px;

    // position: static;
    // width: 148px;
    height: 38px;
    left: 816px;
    top: 0px;

    /* Green Saturated */

    background: #00D2A0;
    box-shadow: 0px 8px 20px rgba(0, 37, 92, 0.2);
    border-radius: 5px;
}

.btn-outline_ {
    padding: 9px 24px;
    height: 38px;
    width: 174px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #00D2A0;
    border: 1px solid #00D2A0;
    border-radius: 5px;

}