.page-content {
  background: linear-gradient(157.42deg,
      #2e2c2d 0%,
      #2e2c2d 0%,
      #2b292c 0.01%,
      #27262b 98.49%);
  border-radius: 15px;
  // margin: 0px 20px;
  min-width: 796px;
  // padding: 0px 36px;
}

.content {
  // padding-top: 36px;
  margin: 0px 36px;

}

.content-head {
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

.content-head-info {
  padding-top: 36px;
}

.content-head-info__title {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 46px;
  /* identical to box height */

  /* Green Saturated */

  color: #00d2a0;

  padding: 0px 0px 12px;
}

.content-head-logo {
  height: 49px;
  padding-top: 26px;
  width: 131px;
}

.content-head-info-update {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 8px;
}

.content-head-info-update__text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */

  // text-align: center;

  /* Grey Light */

  color: #7f7f7f;

  margin-left: 4px;
}

.button-head-pdf {
  background-color: transparent;
  border: 1px solid #7f7f7f;
  box-sizing: border-box;
  border-radius: 5px;
  width: 85px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 12px;
  margin-bottom: 12px;
}

.button-head-pdf:hover {
  background: rgba(127, 130, 133, 0.2);

  border: 1px solid #00d2a0;

  .button-head-pdf__text {
    color: #00d2a0;
  }

  .button-head-pdf-icon {
    background-image: url("/assets/images/pdf-hover.svg");
  }
}

.button-head-pdf:focus-visible {
  background: rgba(127, 130, 133, 0.2);
  outline: none;
  border: 1px solid #00d2a0;

  .button-head-pdf__text {
    color: #00d2a0;
  }

  .button-head-pdf-icon {
    background-image: url("/assets/images/pdf-hover.svg");
  }
}


.button-head-pdf__text {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #7f7f7f;

  margin-left: 8px;

  // padding: 10px 16px 10px 0;
}

.button-head-pdf-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
  background-image: url("/assets/images/pdf.svg");
  padding: 12px 0 12px 16px;
}

.content-head-info-description {
  padding-top: 24px;
}

.content-head-info-description__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  /* Off White */

  color: #fcfcfd;
  padding: 8px 0;
}

.content-head-info-description__text>span>a {

  color: #1997E8;
}

.content-head-info-description__text>span>a:hover {
  text-decoration: underline;
}

.change-pages {
  height: 72px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // margin: 0 20px;
}

.change-pages-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.change-pages-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.change-pages-left__text {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;

  color: #7F7F7F;
  margin-left: 24px;
}

.change-pages-right__text {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;

  color: #7F7F7F;
  margin-right: 24px;
}

.change-pages-left__button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  background-image: url("/assets/images/change-page-dark-mode-left.svg");
}


.change-pages-right__button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  background-image: url("/assets/images/change-page-dark-mode-right.svg");
}

.change-pages-left a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-pages-right a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-pages-left a:hover {
  .change-pages-left__button {
    background-image: url("/assets/images/change-page-dark-mode-left-hover.svg");
  }

  .change-pages-left__text {
    color: #1997E8;
  }
}

.change-pages-left a:focus-visible {
  outline: none;

  .change-pages-left__button {
    background-image: url("/assets/images/change-page-dark-mode-left-hover.svg");
  }

  .change-pages-left__text {
    color: #1997E8;
  }
}

.change-pages-right a:hover {
  .change-pages-right__button {
    background-image: url("/assets/images/change-page-dark-mode-right-hover.svg");
  }

  .change-pages-right__text {
    color: #1997E8;
  }
}

.change-pages-right a:focus-visible {
  outline: none;

  .change-pages-right__button {
    background-image: url("/assets/images/change-page-dark-mode-right-hover.svg");
  }

  .change-pages-right__text {
    color: #1997E8;
  }
}




.found-mistake {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 26px;
  padding-bottom: 36px;
}

.found-mistake__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  /* Grey Light */

  color: #7F7F7F;
}

.found-mistake__text span {
  color: red;
  margin: 0px 4px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  /* Off White */

  color: #FCFCFD;
}



.block-tip {
  position: relative;
  // padding: 8px 0;
  // margin-bottom: 16px;
  width: 100%;
  margin: 16px 0;
}

.block-tip-content {
  background: linear-gradient(90.83deg, #323239 1.71%, #2A3137 96.43%);
  border-radius: 15px;

  padding: 36px 130px 36px 36px;

  // flex-grow: 1;
}

.block-tip-content__text {
  padding: 8px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #EFEFEF;
}

.block-tip-content__title {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #00D2A0;
  padding-bottom: 8px;
}


.block-tip-content__body {
  padding-top: 8px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  /* White with grey */

  color: #EFEFEF;
}

.block-tip-content__body span a {

  color: #1997E8;

}

.block-tip-content__body span a:hover {
  text-decoration: underline;
}

.block-tip-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(111.14deg, rgba(169, 224, 226, 0.15) 7.26%, rgba(1, 248, 168, 0.15) 63.94%);
  /* Green Saturated */

  border: 1px solid #00D2A0;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 0px;

  padding: 16px 24px;


}

.card-command {
  height: 188px;
  width: 228px;
  max-height: 188px;
  background: linear-gradient(90.83deg, #323239 1.71%, #2A3137 96.43%);
  border-radius: 15px;
  border: 1px solid transparent;
  position: relative;
}

.card-command.user:hover {
  background: radial-gradient(84.65% 100% at 50% 0%, #195A33 5.21%, #353E47 100%);
  border-radius: 15px;
}

.card-command.admin:hover {
  background: radial-gradient(84.65% 100% at 50% 0%, #595A19 5.21%, #353E47 100%);
  border-radius: 15px;
}

.card-command.fs:hover {
  background: radial-gradient(84.65% 100% at 50% 0%, #19525A 5.21%, #353E47 100%);
  border-radius: 15px;
}

.card-command-content {
  margin-top: 60px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-command-content {
  padding: 20px 24px 24px 24px;
}

.card-command-content__title {
  height: 60px;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 0px;
  padding: 19px 24px 20px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-command.user .card-command-content .card-command-content__title {
  background: linear-gradient(111.14deg, rgba(169, 224, 226, 0.15) 7.26%, rgba(1, 248, 168, 0.15) 63.94%);
  border: 1px solid #00D2A0;
}

.card-command.admin .card-command-content .card-command-content__title {
  background: linear-gradient(111.14deg, rgba(255, 248, 187, 0.2) 7.26%, rgba(228, 248, 1, 0.2) 63.94%);
  border: 1px solid #FFE895;
}

.card-command.fs .card-command-content .card-command-content__title {
  background: linear-gradient(111.14deg, rgba(169, 219, 226, 0.15) 7.26%, rgba(1, 189, 248, 0.15) 63.94%);
  border: 1px solid #1997E8;
}

.caution {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  width: 36px;
  height: 36px;
  background-image: url("/assets/images/caution.svg");
}

.important {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  width: 36px;
  height: 36px;
  background-image: url("/assets/images/important.svg");
}

.note {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  width: 36px;
  height: 36px;
  background-image: url("/assets/images/note.svg");
}


.tip {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  width: 36px;
  height: 36px;
  background-image: url("/assets/images/tip.svg");
}

.block-commands-steps {
  margin-top: 8px;
}


.block-commands-steps__info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */


  /* White with grey */
  padding: 8px 0;
  color: #EFEFEF;
}

.block-commands ol {
  list-style: none;

}



// .block-commands ul {
//   list-style: none;
// }

// .block-commands ul li .steps-content__text {
//   padding-left: 0;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 21px;


//   color: #EFEFEF;
// }

.block-commands ol {

  counter-reset: num;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.block-commands ol.start4 {
  counter-increment: num 3;
}

.block-commands ol li {
  position: relative;
  margin: 0 0 0 0;
  vertical-align: top;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-start;
  // flex-direction: column;
}

.block-commands ol li ul li::before {
  content: '';
  counter-increment: none;
}


.block-commands ol ol {
  counter-reset: num2;
}

.block-commands ol ol>li {

  counter-increment: num1;
  padding-left: 20px;
}

.block-commands ol ol>li.steps-content__text {

  // padding-left: 30px;
}


.block-commands ol ol li::before {
  content: counter(num) '.'counter(num2);
  counter-increment: num2;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 40px;
  // width: 30px;
  text-align: center;
  color: #C4C4C4;
  margin-top: 8px;
}

.block-commands ol li:before {
  // list-style-type: lower-alpha;
  content: counter(num) '.';
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 20px;
  // width: 30px;
  text-align: center;
  color: #C4C4C4;
  margin-top: 8px;
}

.steps-content {
  // position: relative;

}

.steps-content__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #FCFCFD;
  padding-left: 49px;
  margin: 8px 0;
}

.steps-content__code {
  position: relative;
  margin: 32px 0;
}

.steps-content__code pre code {

  box-sizing: border-box;
  background-color: transparent;
  border-radius: 15px;

}

.steps-content__code {

  border-radius: 15px;
  width: 100%;
  border: 1px solid #353E47;
}

.steps-content__code:hover {
  border: 1px solid #7F7F7F;
  border-radius: 15px;
}


.steps-content__code:hover {
  .copy-button {
    display: block;
  }
}

.copy-button {
  position: absolute;
  top: 0;
  right: 0;
  display: none;


  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px;
  width: 36px;
  height: 36px;
  background-image: url("/assets/images/copy-button-grey.svg");

}

.copy-button:hover {
  cursor: pointer;

  .copy-button__text {
    display: block;
  }

  .copy-button-tooltip {
    display: block;
  }

  .copy-button-tooltip-copied {
    display: none;
  }
}

.copy-button-tooltip {
  position: absolute;
  right: 30px;
  bottom: 8px;
  display: none;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 60px;
  padding: 2px 8px;
  background-color: #1997E8;
  border-radius: 5px;
  text-align: center;
}

.copy-button-tooltip__text {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #353E47;
}

.copy-button-tooltip-copied {
  position: absolute;
  right: 30px;
  bottom: 8px;
  display: none;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 60px;
  padding: 2px 8px;
  background-color: #00D2A0;
  border-radius: 5px;
  text-align: center;
}

.copy-button-tooltip-copied__text {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #353E47;
}




// content body

.content-body {
  // padding-top: 24px;
  // padding-bottom: 28px;
}

.content-body__title {
  margin-top: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: #EFEFEF;
  padding: 8px 0px;
}


.content-body__info {
  margin-top: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  padding: 8px 0px;
  color: #EFEFEF
}

.content-step-body-information__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */


  /* White with grey */
  padding: 8px 0;
  color: #EFEFEF;
}

.custom-list-first {
  list-style-image: url('/assets/images/firstli.svg') !important;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  color: #EFEFEF;

  padding-left: 40px;
}

.custom-list-second {
  list-style-image: url('/assets/images/secondli.svg');
}

.custom-list-first li {
  padding: 8px 0 8px 8px;
}

.custom-list-second {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  color: #EFEFEF;

  padding: 8px 0 0 10px;
}

.custom-list-second li {
  padding: 8px 0 8px 6px;
}

.content-step-body-installation {
  padding-top: 24px;
}

.content-step-body-installation__title {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  /* identical to box height */


  /* White with grey */

  color: #EFEFEF;

  // padding: 8px 0;

}

.content-body-section {
  // padding-top: 24px;
}

.content-body-section__text {
  padding: 8px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #EFEFEF;
}

.content-body-section__text a {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;

  /* Blue */

  color: #1997E8;
}

.content-body-section__text a:hover {
  text-decoration: underline;
}

.content-body-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  // 
}

.content-body-image img {
  box-sizing: border-box;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  // min-width: 724px;

}



//  --------------------------------
//  table-2 




.table-2 {
  // width: 100%;
  border: none;
  margin: 24px 0;
  border-collapse: separate;
  border-radius: 15px;
  border-spacing: 8px 0px;

  // border: 1px solid red;
  width: calc(100% + 16px);
  margin-left: -8px;
  word-wrap: break-word;
}

.table-2 thead th {

  border: none;
  padding: 28px 0 28px 32px;
  background: #323239;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #00D2A0;
}

.table-2 tbody tr td {
  background: rgba(50, 50, 57, 0.5);
  border-bottom: 1px solid #353E47;
  text-align: start;
  vertical-align: middle;

}

.table-2 tbody tr td a {
  color: #1997E8;

}

.table-2 tbody tr td a:hover {
  text-decoration: underline;

}

.table-2 tbody tr td:last-child {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #C4C4C4;
  padding: 28px 32px;
}


.table-2 tbody tr td:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #FCFCFD;
  width: 228px;
  max-width: 228px;
  word-break: break-all;
  padding: 10px 20px 10px 32px
}

.table-2 thead tr th:first-child {
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #353E47;
}

.table-2 thead tr th:last-child {
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #353E47;
}

.table-2 tbody tr:last-child td:first-child {
  border-radius: 0 0 15px 15px;
  border-bottom: 1px solid transparent;
}

.table-2 tbody tr:last-child td:last-child {
  border-radius: 0 0 15px 15px;
  border-bottom: 1px solid transparent;
}


// ------------- table-3 

.table-3 {
  // width: 100%;
  border: none;
  margin: 24px 0;
  border-collapse: separate;
  border-radius: 15px;
  border-spacing: 8px 0px;

  // border: 1px solid red;
  width: calc(100% + 24px);
  margin-left: -8px;
  word-wrap: break-word;
}

.table-3 thead th {

  border: none;
  padding: 28px 0 28px 32px;
  background: #323239;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #00D2A0;
}

.table-3 tbody tr td {
  background: rgba(50, 50, 57, 0.5);
  border-bottom: 1px solid #353E47;
  text-align: start;
  vertical-align: middle;

}

.table-3 tbody tr td+td {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #C4C4C4;
  padding: 28px 32px;
}

.table-3 tbody tr td:last-child {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #C4C4C4;
  padding: 28px 32px;
}


.table-3 tbody tr td:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #FCFCFD;
  width: 220px;
  max-width: 220px;
  word-break: break-all;
  padding: 10px 20px 10px 32px
}

.table-3 tbody tr td:last-child {

  width: 200px;
  max-width: 200px;

}

.table-3 thead tr th:first-child {
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #353E47;
}

.table-3 thead tr th+th {
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #353E47;
}

.table-3 tbody tr:last-child td:first-child {
  border-radius: 0 0 15px 15px;
  border-bottom: 1px solid transparent;
}

// правая нижняя секция скругление
.table-3 tbody tr:last-child td:last-child {
  border-radius: 0 0 15px 15px;
  border-bottom: 1px solid transparent;
}

.table-3 tbody tr:last-child td:nth-child(2) {
  border-radius: 0 0 15px 15px;
  border-bottom: 1px solid transparent;
}

// ------------- /table-3



// ----------- table-6

.table-6 {
  width: 100%;
  border: none;
  margin: 24px 0;
  border-collapse: collapse;
  border-radius: 15px;

}

.table-6 th {
  border: 1px solid #353E47;
}

.table-6 td {
  border: 1px solid #353E47;
}

.table-6 thead tr th {
  border-right: 1px solid #353E47;
  vertical-align: middle;
}

.table-6 tbody tr td {
  vertical-align: middle;
}

.table-6 {
  table-layout: fixed;
  width: 100%;
}

.table-6 td,
.table-6 th {
  overflow: hidden;
}


.table-6 td:nth-of-type(4),
.table-6 th:nth-of-type(4) {
  width: 92px;
}

.table-6 td:nth-of-type(5),
.table-6 th:nth-of-type(5) {
  width: 112px;
}


.table-6 tr td:first-child,
.table tr th:first-child {
  border-left: none;
}

.table-6 tr td:last-child,
.table-6 tr th:last-child {
  border-right: none;
  // border: 1px solid red;
}

.table-6 thead th {

  border: none;
  padding: 24px;
  background: #323239;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #00D2A0;
}

.table-6 tbody tr td {
  background: rgba(50, 50, 57, 0.5);
  // border-bottom: 1px solid #353E47;
  text-align: start;
  vertical-align: middle;
  padding: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */


  /* Off White */

  color: #FCFCFD
}

.table-6 tbody tr:first-child td:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */


  /* Off White */

  color: #FCFCFD;
}

.table-6 tbody tr:nth-last-child(2) td:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */


  /* Off White */

  color: #FCFCFD;
}

.table-6 tbody tr:last-child td:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */


  /* Off White */

  color: #FCFCFD;
}


.table-6 tbody tr td:first-child {
  font-style: normal;
  // font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #FCFCFD;

  word-break: break-all;
  // padding: 10px 20px 10px 32px
}

.table-6 thead tr th:first-child {
  border-radius: 15px 0 0 0;
  // border-bottom: 1px solid #353E47;
}

.table-6 thead tr th:last-child {
  border-radius: 0 15px 0 0;

}

.table-6 thead tr th {
  // border-bottom: 1px solid #353E47;
}

.table-6 tbody tr:last-child td:first-child {

  border-radius: 0 0 0 15px;
  // border-bottom: 1px solid transparent;
}

.table-6 tbody tr:last-child td:last-child {
  border-radius: 0 0 15px 0;
  // border-bottom: 1px solid transparent;
}

.table-6 tbody tr:last-child td {
  // border-radius: 0 0 15px 0;
  // border-bottom: 1px solid transparent;
}

.table-6 tr td:first-child,
.table tr th:first-child {
  // border-bottom: 1px solid transparent;
}

.table-6 tbody tr:last-child td:first-child {
  border-bottom: 1px solid transparent;
}

.table-6 tbody tr:last-child td {
  border-bottom: 1px solid transparent;
}

// .table-6 tr td:last-child {
//   border-left: none;
// }

// .table-6 tr th:last-child {
//   border-right: none;
// }

// ----------- /table-6

// ----------- table-3a 

.table-3a {
  // width: 100%;
  border: none;
  margin: 24px 0;
  border-collapse: separate;
  border-radius: 15px;
  border-spacing: 8px 0px;

  // border: 1px solid red;
  width: calc(100% + 24px);
  margin-left: -8px;
  word-wrap: break-word;
}

.table-3a thead th {

  border: none;
  padding: 28px 0 28px 32px;
  background: #323239;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #00D2A0;
}

.table-3a tbody tr td {
  background: rgba(50, 50, 57, 0.5);
  border-bottom: 1px solid #353E47;
  text-align: start;
  vertical-align: baseline;

}

.table-3a tbody tr td {
  // border: 1px solid red;
  padding: 32px 28px;
}



.table-3a tbody tr td:last-child {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  /* Grey Lighter */

  color: #C4C4C4;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}

.table-3a tbody tr td:nth-last-child(2) {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  /* Grey Lighter */

  color: #C4C4C4;

}

.table-3a tbody tr:first-child td:first-child {
  // vertical-align: baseline;
}

.table-3a tbody tr td.border-l {
  // border: 1px solid red;
  border-radius: 0 0 15px 15px;
  border-bottom: 1px solid transparent;
}

.table-3a thead tr th:first-child {
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #353E47;
}

.table-3a thead tr th+th {
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #353E47;
}

.table-3a tbody tr:last-child td:first-child {
  border-radius: 0 0 15px 15px;
  border-bottom: 1px solid transparent;
}

// правая нижняя секция скругление
.table-3a tbody tr:last-child td:last-child {
  border-radius: 0 0 15px 15px;
  border-bottom: 1px solid transparent;
}

.table-3a tbody tr:last-child td:nth-child(2) {
  border-radius: 0 0 15px 15px;
  border-bottom: 1px solid transparent;
}


// ----------- /table-3a


.block-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 24px;
}


.block-collapse {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.block-mandatory {
  border: 2px solid #7F7F7F;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 28px 0;
  padding: 28px 36px 24px 36px;
}

.block-mandatory-title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: #EFEFEF
}

.content-body-section__text-info {
  padding: 8px 0 8px 52px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #EFEFEF;
}

.block-example {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0;
  padding: 36px;
  border: 1px solid #353E47;
  box-sizing: border-box;
  border-radius: 15px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;

  /* White with grey */

  color: #EFEFEF;
}




.block-comment ol {
  list-style-type: none;
  counter-reset: num;
  margin: 0 0 0 60px;
  padding: 15px 0 5px 0;
  font-size: 16px;
}

.block-comment ol li {
  position: relative;
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
  line-height: 1.4;
}

.block-comment ol li:before {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: -37px;
  width: 18px;
  height: 18px;
  background: #00D2A0;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  border-radius: 50%;
  color: #353E47;
  // border: 1px solid #ef6780;
}

.table-arg {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  padding: 24px 0;
}

.table-arg tbody td {

  padding: 28px 32px;

}

.table-arg tbody tr td:first-child {
  width: 362px;
  background: #323239;
  border-radius: 15px 0px 0px 15px;
  vertical-align: middle;
  font-family: DMMono;
}

.table-arg tbody tr td:last-child {
  background: rgba(50, 50, 57, 0.5);
  border-radius: 0px 15px 15px 0px;
  vertical-align: middle;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  /* Grey Lighter */

  color: #C4C4C4;
}

span.dmmono {
  font-family: DMMono;
}


// block select


.block-select {
  padding-top: 36px;
}

.block-select-head {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 28px;
}

.block-select-head__text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  text-align: right;

  /* Off White */

  color: #FCFCFD;
}

.block-select-buttons {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */


  /* Grey Light */

  color: #7F7F7F;
}

.block-select-buttons.active {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */


  /* Off White */

  color: #FCFCFD;
}

.pt-36 {
  padding-top: 36px;
}

.block-howto {
  padding: 24px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.block-howto-card {
  width: 100%;
  background: #323239;


  border: 1px solid #353E47;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 16px 0 16px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-howto-card.card-open {
  .card-chevron {

    width: 12px;
    height: 8px;
    background-image: url("/assets/images/card_greens_arrow.svg");
  }
}

.block-howto-card.card-open:hover {
  .block-howto-card__text a {
    color: #00D2A0;
  }

  .card-chevron {
    width: 12px;
    height: 8px;
    background-image: url("/assets/images/card_greens_arrow.svg");
  }

  .block-howto-card__text a:hover {
    color: #1997E8;
    text-decoration: underline;
  }

  border: 1px solid transparent;
  background: rgba(127, 130, 133, 0.2);
  border-radius: 5px;
}

.block-howto-card:hover {
  .block-howto-card__text a {
    color: #1997E8;
  }

  .card-chevron {
    background-image: url("/assets/images/card_blue_arrow.svg");
  }

  border: 1px solid transparent;
  background: rgba(127, 130, 133, 0.2);
  border-radius: 5px;
}



.block-howto-card__text a:hover {
  text-decoration: underline;
  color: #1997E8;
  cursor: pointer;
}


.text-green {
  color: #00D2A0;
}

.card-chevron {
  margin-right: 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
  background-image: url("/assets/images/card_offwhite_arrow.svg");
}