.footer-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  // display: grid;
  // min-height: 0;
  // grid-template-rows: 1fr 80px;
  // background: linear-gradient(157.42deg, #2E2C2D 0%, #27262B 98.49%);

  background: var(--footer-bg);
}

.footer-page__info {
  width: 100%;
  padding: 40px 40px 65px 40px;
  display: grid;
  grid-template-columns: 3fr 5fr;
  // height: 283px;
  gap: 20px;
}

.footer-page__link {
  width: 100%;
  padding: 0 40px;
}

.footer-page-l {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  // height: 283px;
  gap: 20px;
}


.footer-page__links {
  height: 80px;
  width: 100%;
  // padding: 0px 40px;
  // margin: 0 40px;
  // margin-left: 40px;
  // margin-right: 40px;
  border-top: 1px solid #353E47;
  // display: grid;
  // grid-template-columns: 7fr 1fr;
  // grid-gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-page__links-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FCFCFD;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-page__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}


//email
.footer-page__email {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.footer-page__email-head {
  margin-bottom: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */


  /* Off White */

  color: #FCFCFD;

}

.footer-page__email-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: inherit;
}

.footer-page__email-info-email {
  margin-bottom: 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */


  /* Off White */

  color: #FCFCFD;
}

.footer-page__email-info-contact {
  margin-bottom: 123px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer-page__email-info-contact:hover {
  color: #00D2A0;
}

.footer-page__email-info-policy>a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 20px;
  color: #FCFCFD;
}

.footer-page__email-info-policy>a:hover {

  color: #00D2A0;
}

.footer-page__email-info-policy>a:focus-visible {
  outline: none;
  color: #00D2A0;
}


// link
.footer-page-link-head {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;


}

.footer-page-link-head__title {
  margin-bottom: 36px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #FCFCFD;
  margin-right: 8px;
}

.footer-page-link-head>a {
  display: none;
}

.footer-page-link-head__body.collapse:not(.show) {
  display: flex;
}

.footer-page-link-head__body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

}

.footer-page-link-head__body>a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  margin-bottom: 20px;
  text-decoration: none;
  color: var(--text-color-primary, #FCFCFD);
}

.footer-page-link-head__body>a:hover {
  color: #00D2A0;
}

.footer-page-link-head__body>a:focus-visible {
  outline: none;
  color: #00D2A0;
}



.icon-footer-twitter {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
  background-image: url("/assets/images/twitter.svg");
}


.icon-footer-facebook {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
  background-image: url("/assets/images/facebook.svg");
}

.icon-footer-inlinked {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
  background-image: url("/assets/images/inlinked.svg");
}

.icon-footer-instagramm {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
  background-image: url("/assets/images/instagramm.svg");
}

.icon-footer-h {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
  background-image: url("/assets/images/h.svg");
}

.icon-footer-youtube {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
  background-image: url("/assets/images/youtube.svg");
}

.icon-footer-twitter:hover {
  background-image: url("/assets/images/twitter-hover.svg");
}

.icon-footer-facebook:hover {
  background-image: url("/assets/images/facebook-hover.svg");
}

.icon-footer-inlinked:hover {
  background-image: url("/assets/images/inlinked-hover.svg");
}

.icon-footer-instagramm:hover {
  background-image: url("/assets/images/instagramm-hover.svg");
}

.icon-footer-h:hover {
  background-image: url("/assets/images/h-hover.svg");
}

.icon-footer-youtube:hover {
  background-image: url("/assets/images/youtube-hover.svg");
}

.icon-footer-twitter>a {
  width: inherit;
  height: inherit;
  // outline: none;
  // background-image: url("/assets/images/youtube-hover.svg");
  // background-color: red;
  // display: none;
}

.footer-page__icons a:focus-visible {
  outline: none;
}

// .footer-page__icons a:focus-visible .icon-footer-facebook {
//   background-image: url("/assets/images/facebook-hover.svg");
// }

// .footer-page__icons a:focus-visible .icon-footer-facebook {
//   background-image: url("/assets/images/facebook-hover.svg");
// }


.footer-page__icons a:focus-visible .icon-footer-twitter {
  background-image: url("/assets/images/twitter-hover.svg");
}

.footer-page__icons a:focus-visible .icon-footer-facebook {
  background-image: url("/assets/images/facebook-hover.svg");
}

.footer-page__icons a:focus-visible .icon-footer-inlinked {
  background-image: url("/assets/images/inlinked-hover.svg");
}

.footer-page__icons a:focus-visible .icon-footer-instagramm {
  background-image: url("/assets/images/instagramm-hover.svg");
}

.footer-page__icons a:focus-visible .icon-footer-h {
  background-image: url("/assets/images/h-hover.svg");
}

.footer-page__icons a:focus-visible .icon-footer-youtube {
  background-image: url("/assets/images/youtube-hover.svg");
}


@media (max-width: 960px) {


  .footer-page__info {
    display: grid;
    padding: 28px 40px 8px 40px;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 100px 1fr;
    gap: 20px;
    grid-template-areas:
      "email email email"
      "l l l"
    ;
  }

  .footer-page__email {
    grid-area: email;
  }

  .footer-page-l {
    grid-area: l;
  }


  .footer-page__email {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
    align-items: end;
    border-bottom: 1px solid #353E47;
  }

  .footer-page__email-info-policy {
    margin-bottom: 28px;
  }

}

@media (max-width: 640px) {
  .footer-page-link-head>a {
    display: block;
  }

  .footer-page-link-head__body.collapse:not(.show) {
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .footer-page-l {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .footer-page__info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .footer-page__email {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .footer-page__email-head {
    margin-bottom: 28px;
  }

  .footer-page__email-info-email {
    margin-bottom: 8px;
  }

  .footer-page__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 28px;
  }

  .footer-page__icons {
    padding-top: 28px;
  }

  .footer-page__link {
    margin-bottom: 28px;
  }
}