.head-adh {
  background-image: url("/assets/images/adh-head.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 131px;
  width: 131px;
  height: 49px;
}

.updated {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  width: 12px;
  height: 11px;
  background-image: url("/assets/images/updated.svg");
}
