.nav {
  background: linear-gradient(157.42deg, #2E2C2D 0%, #27262B 98.49%);

  height: 72px;


  display: grid;
  grid-template-columns: 200px 1fr 100px;
  justify-items: stretch;
  align-items: center;
  // justify-content: space-between;

}


.nav__list {
  display: flex;
  height: 70px;
  margin-left: 93px;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;

}

.nav__item {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link-button {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #353E47;
  // margin-right: 9px;
}

.nav__link-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 9px 24px;
}

.nav__link-button span {
  margin-right: 5px;
}


.nav__link-button:hover {
  text-decoration: none;
}


.nav__icon {
  text-decoration: none;
  margin-left: 40px;
}

.nav__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;

  &:hover {
    .nav__link-text {
      color: #00D2A0 !important;
      cursor: pointer;

    }
  }
}

.nav__link:hover {
  text-decoration: none;
}

.nav__link-text {
  margin-right: 10px;
}

.nav__mode {
  margin-right: 24px;
}

.icon-sun {
  margin-right: 12px;
  color: var(--icon-sun-color, #7F7F7F);
}

.icon-dark {
  color: green;
  color: var(--icon-moon-color, #00D2A0);
}

.icon-mode {
  background: transparent;
  border: none;
  padding: 0;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 235px;
  height: 289px;
  left: -24px;
  top: 70px;
  background: linear-gradient(157.42deg, rgba(46, 44, 45, 0.9) 0%, rgba(39, 38, 43, 0.9) 98.49%);

  flex-direction: column;
  padding: 12px;
  border: 1px solid #353E47;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  z-index: 1;

}


.dropdown:hover .dropdown-content {
  display: flex;

}

.dropdown:hover .dropbtn .drp {
  color: #00D2A0;
}

.nav__burger {
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-image: url("/assets/images/burgermenu.svg");
}

.nav__burger.close-bar {
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-image: url("/assets/images/burgermenu-close.svg");
}

.nav__burger:hover {
  cursor: pointer;
}

// .nav__burger.open-bar {
//   display: none !important;
// }

.logo-name {
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 137px;
  width: 137px;
  height: 33px;
  background-image: url("/assets/images/ADDocs.svg");
}

.show-bar {
  display: none;
}

@media (max-width: 1365px) {

  .nav__list .nav__item:nth-child(-n + 2) {
    display: none;
  }

  .nav__icon {
    margin-left: 20px;
  }

  .nav__list {
    margin-left: 2px;
  }

  .nav__link-button span {
    display: none;
  }
}

@media (max-width:960px) {


  .nav__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .nav__list .nav__item:nth-child(-n + 2) {
    display: flex;
  }

  .logo-name {
    display: block;
    height: 28px;
    width: 116px;

    background-size: 116px;
  }

  .nav__burger.open-bar {
    display: block;
  }

  .nav__list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 320px;
    height: 100%;
    background: linear-gradient(157.42deg, rgba(46, 44, 45, 1) 0%, rgba(39, 38, 43, 1) 100%);
    padding: 20px;
    transition: all 0.5s ease;
    z-index: 1000;

    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav__list li {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav__item {
    height: initial;
  }

  .nav__mode {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .sidebar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 17px;
  }

  .nav__burger.close-bar {
    display: block;
    margin-right: 0;
  }

  .nav__burger.open-bar.show-bar {
    display: none;
  }

}