// .page {
//     overflow: hidden;
// }
.page {
  display: grid;
  grid-template-columns: minmax(70px, 347px) 1fr;
  grid-template-rows: 72px 1fr 468px;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.page_nav {
  display: grid;
  grid-template-columns: 347px 1fr 183px;
  grid-template-rows: 72px 58px 1fr 468px;
  grid-template-areas:
    "header header header"
    "section section section"
    "aside main right-nav"
    "footer footer footer";
}

.page_nav-sm {
  display: grid;
  grid-template-columns: 150px 1fr 183px;
  grid-template-rows: 72px 58px 1fr 468px;
  grid-template-areas:
    "header header header"
    "section section section"
    "aside main right-nav"
    "footer footer footer";
}

.page_nav main {
  margin-left: 20px;
}


.top-nav {
  display: grid;
  grid-template-columns: 1fr 364px minmax(0, 193px);
}

.right-nav {
  grid-area: right-nav;
}

// .qwe {
//   width: 0px;
// }
header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
  margin-right: 20px;
}

footer {
  grid-area: footer;
}

.top-nav {
  grid-area: section;
}