// .page {
//     overflow: hidden;
// }
.page {
  display: grid;
  grid-template-columns: minmax(70px, 347px) 1fr;
  grid-template-rows: 72px 1fr 1fr;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.home {
  display: grid;
  grid-template-columns: minmax(70px, 347px) 1fr;
  grid-template-rows: 72px minmax(43vh, 1fr) 1fr;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.article {
  display: grid;
  grid-template-columns: 347px 1fr 183px;
  grid-template-rows: 72px 58px 1fr 1fr;
  grid-template-areas:
    "header header header"
    "section section section"
    "aside main right-nav"
    "footer footer footer";
}

.article-sm {
  display: grid;
  grid-template-columns: 150px 1fr 183px;
  grid-template-rows: 72px 58px 1fr 468px;
  grid-template-areas:
    "header header header"
    "section section section"
    "aside main right-nav"
    "footer footer footer";
}



.article main {
  margin-left: 20px;
}


.header-second {
  display: grid;
  grid-template-columns: 1fr 364px minmax(0, 193px);
}

.right-nav {
  grid-area: right-nav;
}

// .qwe {
//   width: 0px;
// }
header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  min-width: 0;
  grid-area: main;
  margin-right: 20px;
}

.home main {
  margin-right: 0;
}

footer {
  grid-area: footer;
}

.header-second {
  grid-area: section;
}