.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}

.search-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 960px;
}

.search-input__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.search-input__block>input {
    min-width: 960px;
    height: 56px;
    border: 1px solid #00D2A0;
    border-radius: 15px;
    background-color: transparent;
    color: #FFFFFF;
    padding: 16px 0 16px 22px;
}



.search-input__icon {
    position: absolute;
    width: 24px;
    height: 25px;
    right: 23px;
    top: 16px;
}

.button_search {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

}

.button_search:hover {
    transform: scale(1.2);
}

.icon-search {
    background-image: url("../../images/search_icon.svg");
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
}