.sidebar {
  color: #fff;
  width: 307px;
  margin-left: 40px;
  margin-right: 20px;
  // transition: 0.5s ease-in;
}

.nav-links_item__text {
  margin-left: 12px;
}

// .nav-links {
//   scrollbar-width: thin;
//   scrollbar-color: #00d2a0;
// }

/* для Chrome/Edge/Safari */
.nav-links::-webkit-scrollbar {
  height: 60px;
  width: 5px;
}

.nav-links::-webkit-scrollbar-track {
  background: transparent;
}

.nav-links::-webkit-scrollbar-thumb {
  background-color: #353e47;
  border-radius: 5px;
}

.nav-links {
  height: 80vh;
  overflow-y: auto;
}

.nav-links_item {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  //   padding: 12px 0px 12px 12px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  /* Off White */

  color: #fcfcfd;
}

// .nav-links-li {
//   padding: 12px 0px 12px 40px;
// }

.is_parent li {
  padding: 12px 0;
  z-index: 1;
}

.nav-links_items>ul {
  // padding-left: 76px;
  padding: 0 0 0 36px;
}

.nav-links_item {
  padding: 16px 0 16px 0px;
}

.nav-links_item_link {
  padding: 16px 0 16px 0px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  //   padding: 12px 0px 12px 12px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  /* Off White */

  color: #fcfcfd;
}

.nav-links_item_link>a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-links_item_link .nav-links_item__text:hover {
  color: #00d2a0;
}

.is_parent {
  display: none;
  padding: 12px 0 0 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  color: #c4c4c4;

  z-index: 1;
}

.nav-links-li:hover {
  color: #00d2a0 !important;
}

.nav-links_items {
  margin-right: 23px;
}

.nav-links_item_parent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  //   padding: 12px 0px 12px 12px;
}

.nav-links-li a {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */

  /* Grey Lighter */

  color: #c4c4c4;
}

.nav-links_item_parent a {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #c4c4c4;
}

.nav-links_item_parent:hover {
  color: red;
  cursor: pointer;
}

// .nav-links_item::before {
//   content: "\25B6";
//   color: black;
//   display: inline-block;
//   margin-right: 5px;
// }
.caret-down::before {
  transform: rotate(90deg);
}

.is_parent li a:hover {
  color: #00d2a0;
}

.is_parent li a {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #c4c4c4;
}

.active {
  display: block;
}

.chevron_right {

  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px;


  padding-right: 10px;
  width: 8px;
  height: 12px;
  background-image: url("/assets/images/chevron-right.svg");
}

.chevron_right-lg {

  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px;


  margin-left: 12px;
  width: 13.5px;
  height: 20px;
  background-image: url("/assets/images/chevron-right.svg");
}

.nav-links_item:hover {
  color: #00d2a0;
}

.chevron_down {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;

  width: 12px;
  height: 8px;
  padding-right: 10px;
  background-image: url("/assets/images/chevron-down.svg");
}

.chevron_down-lg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;

  width: 20px;
  height: 13.5px;
  margin-left: 12px;
  background-image: url("/assets/images/chevron-down.svg");
}

.getstarted {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  // margin-right: 12px;
  // padding: 20px;
  background-image: url("/assets/images/icons_get_started_offwhite.svg");
}

.getstarted.active {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  // margin-right: 12px;
  // padding: 20px;
  background-image: url("/assets/images/icons_get_started_greens.svg");
}

.planningguides {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  // margin-right: 12px;
  background-image: url("/assets/images/icons_plannig_guidesoffwhite.svg");
}

.planningguides.active {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  // margin-right: 12px;
  background-image: url("/assets/images/icons_plannig_guides_greens.svg");
}

.concepts {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 32px;
  // margin-right: 12px;
  background-image: url("/assets/images/icons_concepts_offwhite.svg");
}

.concepts.active {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 32px;
  // margin-right: 12px;
  background-image: url("/assets/images/icons_concepts_greens.svg");
}

.references {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  // margin-right: 12px;
  background-image: url("/assets/images/icons_references_offwhite.svg");
}

.references.active {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  // margin-right: 12px;
  background-image: url("/assets/images/icons_references_greens.svg");
}

.releasenotes {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  // margin-right: 12px;
  background-image: url("/assets/images/icons_release_notes_offwhite.svg");
}

.releasenotes.active {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  // margin-right: 12px;
  background-image: url("/assets/images/icons_release_notes_greens.svg");
}

.howto.active {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  // margin-right: 12px;
  background-image: url("/assets/images/icons_how_to_greens.svg");
}

.howto {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  // margin-right: 12px;
  background-image: url("/assets/images/icons_how_to_offwhite.svg");
}

.nav-links_item a:hover {
  color: #00d2a0;
}

.nav-links_item_link a:hover {
  color: #00d2a0;
}

// close-sm sidebar ---------------------------------------------------------------

.sidebar.close-sm {
  margin-left: 0;
  margin-right: 0;
}

.close-sm {
  color: #fff;
  width: inherit;
  padding: 0 40px;
  display: block;
}

.sidebar.close-sm .nav-links_item__text {
  display: none;
}

.sidebar.close-sm .nav-links_item {
  margin: 0;
  padding: 0;
}

.sidebar.close-sm .nav-links_item_link {
  margin: 0;
  padding: 0;
}

.sidebar.close-sm .nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: unset;
}

.sidebar.close-sm .nav-links_items {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 0 16px 0;
}

.sidebar.close-sm .nav-links_items:hover {
  background: linear-gradient(90.83deg, #323239 1.71%, #2a3137 96.43%);
  border-radius: 8px;
}

.sidebar.close-sm .is_parent {
  // display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  // margin: 20px 0 0 90px;
  top: 25px;
  left: 60px;
  width: 200px;

  background: linear-gradient(90deg, #1f2020 0%, #1c2022 100%);
  /* Dark 1 */

  border: 1px solid #353e47;
  box-sizing: border-box;
  border-radius: 10px;
}

.sidebar.close-sm .is_parent li {
  padding: 12px;
  margin: 10px 12px 10px 12px;
  position: relative;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 5px;
}

.sidebar.close-sm .is_parent li:hover {
  background: linear-gradient(90.83deg, #323239 1.71%, #2a3137 96.43%);
  border: 1px solid #353e47;
}

.sidebar.close-sm .is_parent li .is_parent {
  // margin-left: 100px;
  position: absolute;
  // top: 10px;
  left: 188px;
  // height: 250px;
  // overflow-y: auto;
}

.over-y {
  // padding: 5px !important;
  height: 212px;
}

.over-y li:first {
  padding-top: 0 !important;
}

.new-over {
  margin: 12px 8px 12px 12px;
  // padding-bottom: 12px;
}

.sidebar.close-sm .is_parent li .is_parent li .is_parent {
  position: absolute;
  // top: 10px;
  left: 188px;
}

.sidebar.close-sm .is_parent li .over-y .new-over {
  height: 186px;
  overflow-y: auto;
}

.sidebar.close-sm .is_parent li .is_parent .new-over li {
  // padding: 0 0 12px 0 !important;
  margin: 0 8px 0 0 !important;
  // margin: 0 12px 12px 12px !important;
}

.sidebar.close-sm .is_parent li .over-y .new-over::-webkit-scrollbar {
  height: 60px;
  width: 5px;
}

.sidebar.close-sm .is_parent li .over-y .new-over::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar.close-sm .is_parent li .over-y .new-over::-webkit-scrollbar-thumb {
  background-color: #353e47;
  // border: 3px solid red;
  border-radius: 5px;
}

// .nav-links {
//   height: calc(80vh);
//   overflow-y: auto;
// }

// .sidebar.close-sm .is_parent li .is_parent li:hover{

// }

// sidebar-head

.sidebar-head {
  padding-left: 40px;
}

.sidebar-head-title {
  padding: 16px 0px 0px;
  margin-bottom: 16px;
}

.sidebar-head-title__text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  /* Green Saturated */

  color: #00d2a0;
}

.sidebar-head-version {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 0px 0px 16px;
  margin-bottom: 16px;
}

.sidebar-head-version__text {
  margin-right: 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  /* Blue */

  color: #1997e8;
}

.sbar {
  background: linear-gradient(90.83deg, #323239 1.71%, #2a3137 96.43%);
  border: 1px solid #7f7f7f;
  box-sizing: border-box;
  border-radius: 20px;
}

.sbar-close {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  background-image: url("/assets/images/close-sidebar.svg");
  // transform: rotate(-180deg);
}

.sbar-open {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  background-image: url("/assets/images/open-sidebar.svg");
  transform: rotate(0deg);
}

.sidebar-head-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // width: 307px;
}

.sidebar.close-sm .sidebar-head-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  padding: 0;
  width: 70px;
  height: 20px;
}

.hr-line {
  margin: 20px 0;
  padding: 0;
  height: 0;
  width: 23px;
  border: none;
  border-top: 1px solid #7f7f7f;
}

.sidebar .sidebar-head-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
  // padding-left: 40px;
  width: 307px;
  height: 20px;
}

.sidebar .sidebar-head-button hr:nth-child(3) {
  // overflow: hidden;
  display: none;
}

.sidebar .sidebar-head-button hr:nth-child(1) {
  width: 283px;
}

.sidebar.close-sm .sidebar-head-button hr:nth-child(3) {
  width: 23px;
  display: block;
}

.sidebar.close-sm .sidebar-head-button hr:nth-child(1) {
  width: 23px;
}

.sbar:hover {
  cursor: pointer;
}

// .sidebar.close-sm .nav-links_item__icon {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   // background: linear-gradient(90.83deg, #323239 1.71%, #2a3137 96.43%);
//   border-radius: 8px;
//   width: 40px;
//   height: 40px;
// }