$primary: #202020;
$secondary: #121212;
$white: #fff;
$black: #212121;
$red: #ED3024;
$blue: #3137C9;

$nav: linear-gradient(157.42deg, #2E2C2D 0%, #27262B 98.49%);
$green: #00D2A0;


$z-index-sidebar: 1000;
$z-index-header: 1000;

$sidebar-width: 300px;