// @import "../../../node_modules/bootstrap/scss/bootstrap.scss";
// @mixin font($font_name, $file_name, $weight, $style) {

//   @font-face {
//     font-family: $font_name;
//     font-display: swap;
//     src: url("../fonts/#{$file_name}.woff") format("woff"),
//     url("../fonts/#{$file_name}.woff2") format("woff2");
//     font-weight: #{$weight};
//     font-style: #{$style};
//   }
// }
@import "fonts/f.scss";
@import "blocks/bootstrap.scss";
@import "blocks/css-tooltip.scss";
@import "blocks/animate.scss";
@import "vars";
@import "vendor/reset";

body {
  background-color: #212121;
  font-family: "DMSans";
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: #ffffff;
}

// a:active,
// a:focus {
//   // outline: none;
// }

/* Blocks */
@import "blocks/page";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/subnav";
@import "blocks/search";
@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/container";
@import "blocks/presentation.scss";
@import "blocks/btn";
@import "blocks/footer-page";
@import "blocks/social-media.scss";
@import "blocks/popular-topic.scss";
@import "blocks/blocks-card.scss";
@import "blocks/highlightjs.scss";
