@import "fonts/f.scss";
@import "blocks/bootstrap.scss";
@import "blocks/css-tooltip.scss";
@import "blocks/animate.scss";
@import "vars";
@import "vendor/reset";


// pages
@import "blocks/pages/hadoop.scss";
@import "blocks/pages/howto.scss";

body {
  background-color: #212121;
  font-family: "DMSans";
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  color: #ffffff;
}

a:active {
  outline: none;
}

// a:active,
// a:focus {
//   // outline: none;
// }

/* Blocks */
@import "blocks/page";
@import "blocks/content";
@import "blocks/header";
@import "blocks/head-icon";
@import "blocks/nav";
@import "blocks/subnav";
@import "blocks/search";
@import "blocks/sidebar";
@import "blocks/right-nav";
@import "blocks/main";
@import "blocks/container";
@import "blocks/presentation.scss";
@import "blocks/btn";
@import "blocks/footer-page";
@import "blocks/social-media.scss";
@import "blocks/popular-topic.scss";
@import "blocks/blocks-card.scss";
@import "blocks/highlightjs.scss";