:root {

  --theme-color: #efefef;
  --primary-color: #000e29;
  --footer-bg: linear-gradient(157.42deg, #2E2C2D 0%, #2E2C2D 0%, #2B292C 0.01%, #27262B 98.49%);
  --primary-green: #00D2A0;
  --icon-sun-color: #7F7F7F;
  --icon-moon-color: #00D2A0;
  --text-color-primary: #FCFCFD;
  --header-bg: linear-gradient(157.42deg, #2E2C2D 0%, #2E2C2D 0%, #2B292C 0.01%, #27262B 98.49%);
}

body.theme-dark {
  --footer-bg: linear-gradient(157.42deg, #2E2C2D 0%, #2E2C2D 0%, #2B292C 0.01%, #27262B 98.49%);
  --icon-sun-color: #7F7F7F;
  --icon-moon-color: #00D2A0;
  --text-color-primary: #FCFCFD;
  --header-bg: linear-gradient(157.42deg, #2E2C2D 0%, #2E2C2D 0%, #2B292C 0.01%, #27262B 98.49%);
}

body.theme-light {
  --footer-bg: #F2FBFF;
  --icon-sun-color: #00D2A0;
  --icon-moon-color: #7F7F7F;
  --text-color-primary: #353E47;
  --header-bg: #FFFFFF;
}




@import "fonts/f.scss";
@import "blocks/bootstrap.scss";
@import "blocks/css-tooltip.scss";
@import "blocks/animate.scss";
@import "vars";
@import "vendor/reset";
@import "blocks/magnific-popup.scss";

// pages
@import "blocks/pages/hadoop.scss";
@import "blocks/pages/howto.scss";
@import "blocks/pages/offlinst.scss";

body {
  background-color: #212121;
  font-family: "DMSans";
  transition: 1s ease-in;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  color: #ffffff;
}

a:active {
  outline: none;
}



/* Blocks */
@import "blocks/page";
@import "blocks/content";
@import "blocks/header";
@import "blocks/head-icon";
@import "blocks/nav";
@import "blocks/subnav";
@import "blocks/search";
@import "blocks/sidebar";
@import "blocks/right-nav";
@import "blocks/main";
@import "blocks/container";
@import "blocks/presentation.scss";
@import "blocks/btn";
@import "blocks/footer-page";
@import "blocks/social-media.scss";
@import "blocks/popular-topic.scss";
@import "blocks/blocks-card.scss";
// @import "blocks/highlightjs.scss";
@import "blocks/atom-one-dark.min.scss";