<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <div class="page">
        <!-- Header -->
        {{> header }}
        <!-- Main -->
        <main class="main" style="color: #FFF;">
            <!-- <div class="container"> -->
            {{> body }}
            <!-- main -->
            <!-- </div> -->
        </main>
        {{> footer}}
    </div>
    <!-- JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/highlight.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>